In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
appuntamento_data = pd.read_csv("../Desktop/challenge/appointment_data.csv")

In [3]:
appuntamento_data

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [4]:
appuntamento_data.columns

Index(['No-show', 'PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received'],
      dtype='object')

In [5]:
appuntamento_data.dtypes

No-show            object
PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
dtype: object

In [7]:
appuntamento_data['No-show']

0         No
1         No
2        Yes
3         No
4         No
        ...
88416     No
88417     No
88418     No
88419     No
88420     No
Name: No-show, Length: 88421, dtype: object

In [9]:
y=appuntamento_data['No-show']
X=appuntamento_data.drop("No-show", axis=1)

In [10]:
y

0         No
1         No
2        Yes
3         No
4         No
        ...
88416     No
88417     No
88418     No
88419     No
88420     No
Name: No-show, Length: 88421, dtype: object

In [11]:
X

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [12]:
train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=0)

In [13]:
val = val_X.join(val_y)

In [14]:
train = train_X.join(train_y)

In [15]:
train.to_csv('training.csv', index = False)

In [16]:
val.to_csv('test.csv', index = False)